<div class="form-group">
  <label for="{{ obj.inputProp.id }}">{{ obj.labelName }}</label>
  <select class="custom-select" ngModel #selector="ngModel" name="selector" id="{{ obj.inputProp.id }}" (change)="change($event)" selectedIndex="selectedIndex" >
    <option value="" selected>Select</option>
    <option value="{{ option.value }}" *ngFor="let option of obj.options">{{ option.key }}</option>
  </select>
  <div class="alert alert-danger" *ngIf="touched && selectedOptionIndex === 0">
    {{ obj.inValidationText }}
  </div>
</div>