<div class="form-group">
    <label [for]="obj.inputProp.id">{{ obj.labelName }}</label>
    <textarea required ngModel name="textArea" #textArea="ngModel" class="form-control" (change)="onChange(textArea.value)" [rows]="obj.inputProp.rowSize"
        [id]="obj.inputProp.id" [placeholder]="obj.placeHolder === undefined ? '' : obj.placeHolder">
    </textarea>
    <div class="alert alert-danger" *ngIf="this.errors.length !== 0 || (textArea.touched && !textArea.valid)">
        <span *ngIf="(textArea.touched && textArea.valid)">
            <p *ngFor="let error of this.errors">
                {{ error }}
            </p>
        </span>
        <p *ngIf="(textArea.touched && !textArea.valid)">
            You have not entered anything.
        </p>
    </div>
</div>