<label [for]="obj.inputProp.id">{{ obj.labelName }}</label>
<div class="row no-gutters">
  <ng-container *ngFor="let option of obj.options; let i= index">
    <div class="col pad30">
      
        <input required ngModel name="cbb" #cbb="ngModel" type="checkbox" (change)="onChange($event, cbb, i)" class="form-check-input"
          [value]="option.value">{{ option.key }}
      
    </div>
    <div *ngIf="i % obj.noInOneLine === obj.noInOneLine - 1" class="w-100"></div>
  </ng-container>
</div>

<div class="alert alert-danger" *ngIf="(touched && this.checkedOptionCount < obj.mandatory)">
  {{ obj.inValidationText }}
</div>