<label [for]="obj.inputProp.id">{{ obj.labelName }}</label>
<br />
<div *ngIf="obj.inline">
  <label [class.radio-inline]="obj.inline" *ngFor="let option of obj.options; let o= index">
    <input type="radio" [value]="option.value" [name]="obj.inputProp.id" (change)="onChange($event, o)">{{ option.key }}
  </label>
</div>
<div *ngIf="!obj.inline">
  <div class="radio" *ngFor="let option of obj.options">
    <label>
      <input type="radio" [value]="option.value" [name]="obj.inputProp.id" (change)="onChange($event, o)">{{ option.key }}
    </label>
  </div>
</div>